body {
    background: linear-gradient(135deg, #74ebd5, #9face6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.custom-navbar{
    background: rgb(3, 51, 35);
    color: aquamarine;
}
.custom-navbar .navbar-brand , .custom-navbar .nav-link,  .custom-navbar .navbar-toggler ,.custom-navbar .navbar-toggler-icon {
    color: #74ebd5;
}
.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover
 {
    color: #ffc107;
  }
.custom-card {
    max-width: 320px;
    background-color: #fff;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.custom-card:hover{
    transform: scale(1.05);
}
.custom-card h3{
    color: #333;
}
.custom-card p{
    color:#555
}
.btn{
    font-weight: bold;
    margin-bottom: 20px;
}